.active {
  font-weight: bold;
  border-bottom: 5px solid green;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-bottom: 3px solid #ddd;
}

.nav-link {
  margin: 15px;
  text-decoration: none;
  color: #555;
  font-size: 24px;
  padding: 5px 10px;
  transition: all 0.1s ease;
}

.nav-link:hover {
  color: green;
  border-bottom: 2px solid green;
}

.card {
  width: 600px;
  gap: 10px;
}

.col {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.card-img-top {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
